*{
  box-sizing: border-box
  
}

body {
   background: #4B0082;
  
}

#wrapper{
  display: grid;
  grid-template-columns:1fr 4fr 1fr;
  grid-gap: 30px;
}
/*Index Page Styling*/

#fallingDiv{
grid-area: 1/2;
display: flex;
flex-direction: row;
justify-content: space-around;
}

#fallingDiv div {
  position: relative;
  display:inline-flex;
  border-radius:50%;
  border:1px solid blueviolet;
  background: white;
  height:35px;
  width:35px;
  justify-content: center;
  align-items: center;
  color: #4B0082;
  z-index: 1

}

#C,#O1,#D,#E,#F,#L,#O2,#U,#R{
  
  animation-name: falling;
  animation-duration: 5s;
  animation-iteration-count:1;
  animation-timing-function: linear;
  animation-fill-mode : forwards;
}


#C{
  animation-timing-function: linear;
}
#O1 {
  animation-timing-function: ease-in;
  animation-delay: 200ms;
}
#D {
  animation-delay: 400ms;
}
#E {
  animation-delay: 600ms;
  animation-timing-function: linear;
}
#F {
  animation-delay: 800ms;
  animation-timing-function: ease-out;
}
#L {
  animation-delay: 1s;
  animation-timing-function: ease-in;
}
#O2 {
  animation-delay: 1.2s;
}
#U {
  animation-delay: 1.4s;
  animation-timing-function: linear;
}
#R {
  animation-delay: 1.6s;
  animation-timing-function: ease-in-out;
}




#welcome{
  grid-area: 2/3;
  position: relative;
  display: inline-flex;
  margin: auto;
  color: white;
  background-color:#7B1382 ;
  font-size: 6vmin;
  font-style: varela;
  padding:2px;
  text-align: center;
  height: 26vh;
  width:100vw;
  top:20vh;
  right: 20vw;
  left: 0;
  border-radius:0%;
  border: none;
 align-items:center;
 opacity: 0;
}

#playButton{
  grid-area: 3/4;
  position: absolute;
  display: flex;
  margin:  auto;
  justify-content: center;
  /*top:30vh*/
  right: 0;
  left: 0;
  background-color:#7B1382 ;
  color: white;
  max-height: 20vw;
  width:30vw;
  padding: 3px;
  font-size: 25px;
  border: none;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  font-family: sans-serif;
  border: 1px solid green;
  
}


@keyframes falling{
  
  0% {
    top: 0vh;
  }
  25% {
    top: 20vh;
  }
  50% {
    top: 45vh;
  }
  75% {
   
    top: 70vh;
  }
  80% {
    top: 80vh;
  }
  90% {
    top: 70vh;
  }
  100%{
    top:80vh;
    
  }
  
}



/*End of Index Page Styling*/

/* 😁 😁 */
  
/*Quiz page styling*/
#container{
  background-color: none;
  
  max-height:150vh;
  width:100%;
  display:grid;
  grid-template-rows: 50px 50px 7fr;
  grid-row-gap: 10px;
  
}
  
/*Container grids*/

 #instruction{
   background-color: #7B1382;
   font-size:20px;
   color: white;
   grid-row:1/2;
   padding:5px;
   justify-self: stretch;
   align-self: center;
   text-align: center;
 }

 #questionNumber{
     background-color: #7B1382;
     font-size:20px;
     color: white;
     grid-row:2/3;
     padding:5px;
     justify-self: stretch;
     align-self: center;
     text-align: left;

 }
 
 
  
  #quizArea{
    background-color:none;
    font-size:35px;
    grid-row:3/4 ;
    display: grid;
    grid-template-rows: 4fr,3fr,20px;
    grid-row-gap: 10px;
  }
  
  
 /* #answerTracker{
    background-color: #887889;
    grid-row: 3/4;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;*/
   /* grid-template-columns: repeat(5,30px);
    grid-column-gap: 5px;
    justify-items: center;}*/
    
    
  
  /*Quiz area grids*/
  #questionBox{
    background-color: #370E56;
    grid-row: 1/2;
    justify-self: stretch;
    border: 1px solid blueviolet;
    text-align: center;
    padding: 15px;
    font-style: varela;
    color: white;
  }
  #optionBoxes{
  
    grid-row: 2/3;
     display: grid;
     grid-template-rows: repeat(autofit, 4,1fr);
     justify-items: stretch;
     align-items: center ;
     grid-row-gap: 10px;
  }
  #nextButtonRow
  {
    grid-row: 3/4;
    display: grid;
    grid-template-columns: (5fr,1fr);
    grid-template-rows:repeat(autofill,1fr);
    align-self: center;
    background-color: #4B0082;
    
  }
  
  /*NextButtonRowGrids*/
  
  #answerTracker{
    grid-column: 1/2;
    grid-row: 1/3;
    cursor: pointer;
    outline: none;
    justify-self: center;
    display: inline-flex;
    align-items: center;
    
  }
  
  #nextButton{
    grid-column: 2/3;
    grid-row: 1/3;
    justify-self: end;
    align-self: center;
    text-align: center;
    text-decoration: none;
    font-family: sans-serif;
    background-color: none;
    
    
  }
 .nextButton{
border-radius: 20%;
height:30px;
width:60px;
background-color:#7B1382;
color: white;
outline: none;
cursor: pointer;
font-size: 15px;
display: block;

  }
  /*Option grids*/
  
  #option1,
  #option2,
  #option3,
  #option4,
  .options{
    background-color: white;
    border:2px solid royalblue;
    padding:5px;
    font-size: 17px;
    cursor: pointer;
  }
  
  .correct{
    
    animation-name:correct;
    animation-duration:2s;
    animation-timing-function:ease;
    animation-fill-mode:forwards;
    animation-iteration-count:1;
    
  }
  
  @keyframes correct{
    
    100%{
      background-color: green;
      color: white;
    }
  }
  
  
  .wrong {
  
    animation-name: wrong;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
  }
  
  @keyframes wrong {
  
    100% {
      background-color: darkred;
      color: white;
    }
  }
  
  .disabled{
    pointer-events:none;
  }
  
.score{
height:30px;
width:30px;
cursor: pointer;
background-color:white;
margin-right: 10px;
margin-top: 1px;
margin-bottom: 1px;
border-radius:50%;
border:1px solid blueviolet;
}


.scoreCorrect{
  background-color: green;
  background-image:url(correct.png) ;
  background-position:center;
  background-repeat: no-repeat;
  background-size: 50%;
}

.scoreWrong {
  background-color: red;
  background-image: url(wrong.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%;
}


.quizOver{
  position: fixed;
  left: 0;
  top:0;
  width:100%;
  height:100%;
  background-color:rgba(0 0 0 0.9) ;
  z-index: 10;
  display: none;
  align-items: center;
  justify-content: center;
  
}

.quizOver.show{
  display: flex;
}

.quizOver .alertBox{
 background-color:#370E56;
 padding: 30px;
 border-radius: 10px;
 text-align: center;
 flex-basis: 700px;
 max-width: 700px;
 color: #ffffff;
}

.quizOver .alertBox h1{
  font-size: 36px;
  margin: 0 0 20px;
}

.quizOver .alertBox button{
  padding:15px 50px;
  border: none;
  outline: none;
  background-color:white;
  border-radius:5px ;
  font-size: 20px;
  margin: 15px 0 20px;
  color:#7B1382;
}

.click{
  animation-name: click;
  animation-duration: 500ms;
}

@keyframes click {
  50%{
    transform: scale(0.7);
  }
  100%{
    transform: scale(1);
  }
  
}